 // src/scss/main.scss
// 1. 必備的 Bootstrap 函數 (在客製化變數之前)
@import "bootstrap/scss/functions";

// 2. 匯入客製化變數 (覆寫預設值)
@use "_custom-variables";

// 3. 必備的 Bootstrap 變數和混入
@use "bootstrap/scss/variables";
@use "bootstrap/scss/variables-dark";
@use "bootstrap/scss/maps";
@use "bootstrap/scss/mixins";
@use "bootstrap/scss/utilities";

// 4. 匯入 Bootstrap 的其餘部分 (只匯入專案需要的組件以減少檔案大小)
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/utilities/api";

// 5. 添加您專案的額外 CSS 樣式 (如有需要)
.hero-section {
  min-height: 400px;
  background-size: cover;
  background-position: center;
}
